.box {
    border: 5px solid darkblue;
    @include sizeWith(200px,150px);

    & img{
      @include sizeWith(100%,100%);
    }
  }


  .noticias__title{
    font-size: 20px;
    font-weight: bold;
  }
  
  .noticias__date{
    color: $primary;
  }