/* reseteo de estilos */
* {
    margin: 0;
    padding: 0;
  }
  
  /* fuente */
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  


.page__container{
    margin-top: 120px;
    margin-bottom: 100px;
  }

  @mixin sizeWith($width, $height) {
    height: $height;
    width: $width;
  }
  
  