.header {
    background-color: $primary;
    top: 0;
    position: fixed;
    @include sizeWith(100%, 85px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    &__img{
        width: 50px;
        transition: 0.5s ease all;

        &:hover{
            width: 60px;
        }
    }

    &__li{
        list-style-type: none;
        padding: 0 15px;
        margin-top: 10px
    }

    &__nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    &__item{
        text-decoration: none;
        color: white;
        font-size: 22px;
        transition: 0.5s ease all;

        &:hover{
            color: grey
        }
    }
  }
  
